<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%- include('../partials/head', { title: title }); %>
  </head>
  <body>
    <main>
      <div class="container mt-5"><%- body %></div>
    </main>
    <%- include('../partials/scripts', { customScripts: customScripts }); %>
  </body>
</html>
